<section class="ba-about" id="about">
	<div class="row">
		<div class="ba-about__img column medium-6 large-4 small-12">
			<img class="ba-about__img-icon" src="assets/img/icon-aboutus.png" alt="Img1">
			<h2 class="ba-about__title">
				About Us
			</h2>
			<!-- /.ba-about__title -->
		</div>
		<!-- /.ba-about__img column medium-3 small-12 -->
		<div class="ba-about__info column medium-6 large-7 small-12 large-offset-1">
			<div class="ba-about__info-text">
				<p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

				<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
			</div>
			<!-- /.ba-about__info-text -->

			<a href="#" class="ba-button">Learn More</a>
		</div>
		<!-- /.ba-about__info column medium-8 small-12 -->
	</div>
	<!-- /.row -->
</section>
<!-- /.ba-about -->
<section class="ba-services" id="services">
	<div class="row collapse">
		<div class="ba-services__column-1 column small-12 medium-6 large-4">
			<div class="ba-services__cell ba-gray">
				<img src="assets/img/icon-services.png" alt="Icon Services">
				<h3 class="ba-services__cell-title">
					GRAPHIC DESIGN
				</h3>
				<p class="ba-services__cell-desc">
					Cras mattis consectetur purus sit amet fermentum.
				</p>

								<!-- /.ba-services__cell-title -->
			</div>
			<!-- /.ba-services__column-1 -->
			<div class="ba-services__cell">
				<img src="assets/img/icon-services.png" alt="Icon Services">
				<h3 class="ba-services__cell-title">
					GRAPHIC DESIGN
				</h3>
				<p class="ba-services__cell-desc">
					Cras mattis consectetur purus sit amet fermentum.
				</p>

								<!-- /.ba-services__cell-title -->
			</div>
			<!-- /.ba-services__column-1 -->

		</div>
		<!-- /.ba-services__graphic -->
		<div class="ba-services__column-2 column small-12 medium-6 large-4">
			<div class="ba-services__cell">
				<img src="assets/img/icon-services.png" alt="Icon Services">
				<h3 class="ba-services__cell-title">
					GRAPHIC DESIGN
				</h3>
				<p class="ba-services__cell-desc">
					Cras mattis consectetur purus sit amet fermentum.
				</p>

								<!-- /.ba-services__cell-title -->
			</div>
			<!-- /.ba-services__column-1 -->
			<div class="ba-services__cell ba-gray">
				<img src="assets/img/icon-services.png" alt="Icon Services">
				<h3 class="ba-services__cell-title">
					GRAPHIC DESIGN
				</h3>
				<p class="ba-services__cell-desc ">
					Cras mattis consectetur purus sit amet fermentum.
				</p>

								<!-- /.ba-services__cell-title -->
			</div>
			<!-- /.ba-services__column-1 -->

		</div>
		<!-- /.ba-services__graphic -->
		<div class="ba-services__column-3 column small-12 medium-6 large-4">
			<img src="/assets/img/icon-services-t.png" alt="Imgggg">
			<h2 class="ba-services__title">
				Our services
			</h2>
			<!-- /.ba-services__title -->
			<p class="ba-services__cell-desc">
					Cras mattis consectetur purus sit amet fermentum.
				</p>
		</div>
		<!-- /.ba-services__graphic -->
	</div>
	<!-- /.row -->
</section>
