<section class="ba-team">
	<div class="row column">
		<img class="ba-team__icon" src="assets/img/icon-team.png" alt="Team">
		<h2 class="ba-team__title">
			Meet our team
		</h2>
		<!-- /.ba-team__title -->
	</div>
	<!-- /.row -->
	<div class="ba-slider__team">
		<div class="ba-slider__team-slide column">
			<div class="ba-slider__team-slide-info">
				<a href="#men">
					<img src="/assets/img/men1.png" alt="Men">
					<h4 class="ba-slider__team-title">
						Migel Obrien
					</h4>
					<!-- /.ba-slider__team-title -->
				</a>
				<p class="ba-slider__team-desc">
					CEO & Founder
				</p>
				<!-- /.ba-slider__team-desc -->
				<div class="ba-social">
					f s tw inst
				</div>
				<!-- /.ba-social -->
			</div>
			<!-- /.team-slide-info -->
		</div>
		<!-- /.ba-slider__team-slide -->
		<div class="ba-slider__team-slide column">
			<div class="ba-slider__team-slide-info">
				<a href="#men">
					<img src="/assets/img/woman1.png" alt="Men">
					<h4 class="ba-slider__team-title">
						Migel Obrien
					</h4>
					<!-- /.ba-slider__team-title -->
				</a>
				<p class="ba-slider__team-desc">
					CEO & Founder
				</p>
				<!-- /.ba-slider__team-desc -->
				<div class="ba-social">
					f s tw inst
				</div>
				<!-- /.ba-social -->
			</div>
			<!-- /.team-slide-info -->
		</div>
		<!-- /.ba-slider__team-slide -->
		<div class="ba-slider__team-slide column">
			<div class="ba-slider__team-slide-info">
				<a href="#men">
					<img src="/assets/img/wooman2.png" alt="Men">
					<h4 class="ba-slider__team-title">
						Migel Obrien
					</h4>
					<!-- /.ba-slider__team-title -->
				</a>
				<p class="ba-slider__team-desc">
					CEO & Founder
				</p>
				<!-- /.ba-slider__team-desc -->
				<div class="ba-social">
					f s tw inst
				</div>
				<!-- /.ba-social -->
			</div>
			<!-- /.team-slide-info -->
		</div>
		<!-- /.ba-slider__team-slide -->
		<div class="ba-slider__team-slide column">
			<img src="/assets/img/men1.png" alt="Men">
			<div class="ba-slider__team-slide-info">
				<a href="#men">
					<h4 class="ba-slider__team-title">
						Migel Obrien
					</h4>
					<!-- /.ba-slider__team-title -->
				</a>
				<p class="ba-slider__team-desc">
					CEO & Founder
				</p>
				<!-- /.ba-slider__team-desc -->
				<div class="ba-social">
					f s tw inst
				</div>
				<!-- /.ba-social -->
			</div>
			<!-- /.team-slide-info -->
		</div>
		<!-- /.ba-slider__team-slide -->
		<div class="ba-slider__team-slide column">
			<img src="/assets/img/men1.png" alt="Men">
			<div class="ba-slider__team-slide-info">
				<a href="#men">
					<h4 class="ba-slider__team-title">
						Migel Obrien
					</h4>
					<!-- /.ba-slider__team-title -->
				</a>
				<p class="ba-slider__team-desc">
					CEO & Founder
				</p>
				<!-- /.ba-slider__team-desc -->
				<div class="ba-social">
					f s tw inst
				</div>
				<!-- /.ba-social -->
			</div>
			<!-- /.team-slide-info -->
		</div>
		<!-- /.ba-slider__team-slide -->
	</div>
	<!-- /.ba-slider_team -->
</section>
